.dt_table{display: table;width:100%;}
.dt_row{display: table-row;}
.dt_cell{display: table-cell;padding: 4px; vertical-align: top;}
.width-300{width:300px;padding: 0 20px 0 0;}
.form_add_cat label{display:block;padding: 4px 0;font-weight: bold;cursor:pointer;}
.form_add_cat input[type='text'],
.form_add_cat textarea,
.form_add_cat select{width: 98%;margin-bottom: 6px;}
.form_add_cat textarea{height: 100px; }
.dt_options{padding: 5px 0;}

.form_add_cat input.error{border: 1px solid #D70000;background: #FFEAEA;}

/** Items form **/
.dt_form{padding: 0 15px;line-height: 140%;}
.dt_form .dt_cell{padding: 4px 6px;}
.dt_form .item{padding-bottom: 8px;}
.dt_form label{
    display: inline-block;
    padding: 0 0 5px 0; 
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}
.dt_form input[type='text'],
.dt_form input[type='password'],
.dt_form select,
.dt_form textarea,
.dt_form input[type='file']{
    font-size: 1.4em; 
    padding: 3px; 
    color: #666;
    font-weight: normal;
    font-family: arial,helvetica,sans-serif;
    border: 1px solid #CCC;
    min-width: 230px;
}
.dt_form input:focus{background-color: #FFF;}
.dt_form .fullwidth{width: 99%;}
.dt_form input.title{font-size: 1.7em; height: auto;}
.dt_form .description{display: block; font-size: 0.9em; color: #666;padding: 4px 0;}
.dt_form .required{}

/** Licences Form **/
form h3{
    margin-top: 0;
}
label.captions{
    display: block;
    padding: 3px 0;
    font-weight: bold;
    cursor: pointer;
}
.width-300 .input{
    width: 95%;
    padding: 4px;
    font-size: 1.5em;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    font-weight: normal;
}
.width-300 .description{
    font-size: 0.9em;
    color: #666;
    line-height: 140%;
    margin-bottom: 10px;
    margin-top: -5px;
    display: block;
    font-style: italic;
}

/** Items table **/
td.dt_item_opts{
    background: #ebebeb;
    height: 100%;
    width: 16px;
    box-shadow: inset -1px -1px 10px #ccc;
}
td.dt_item_opts a{
    height: 100%;
    display: block;
    padding: 2px;
    vertical-align: middle;
    border-left: 1px solid #FFF;
    border-top: 1px solid #FFF;
    width: 24px; height: 30px;
}
td.dt_item_opts a span{
    display: none;
}
td.dt_item_opts a:hover{
    box-shadow: 1px 1px 15px #666;
    z-index: 2000;
}
